<!DOCTYPE html>
<html>
    {% include 'head.html '%}
    <body>
        <header>
            <h1>
                {% if page.title %}{{ page.title | escape }}
                {% else %}{{ site.title | escape }}{% endif %}   
            </h1>
            <h6>
                {% if page.author %}{{ page.author | escape }}
                {% else %}{{ site.author | escape }}{% endif %}
                ---
                {% if page.address %}{{ page.address | escape }}
                {% else %}{{ site.address | escape }}{% endif %}
            </h6>
        </header>
        {% include 'navbar.html' %}
        <section>
            {{ content }}
        </section>
        {% include 'footer.html' %}
    </body>
</html>